<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
  <!--link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" /-->
  <link type="text/css" href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet" media="screen">
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Nechejte si posílat informace z webu MŠ Viničná rovnou na email.">
  <script src="https://kit.fontawesome.com/42ccad3a95.js" crossorigin="anonymous"></script>

  <title>{% block title %} Info ze školky do mailu {% endblock %}</title>

  {%block head%}
  {% endblock %}
</head>


<body
  class="is-responsive m-auto min-h-screen sm:bg-white sm:dark:bg-slate-900 font-normal font-sans">
  
  <div class="flex flex-col text-center min-h-screen w-full sm:w-4/5 bg-slate-200 dark:bg-slate-800">
    <main class="is-responsive p-2 sm:p-4">
      <section class="flex flex-row-reverse w-5/6">
        <a href="#" onclick="setMode()" data-test="set_mode_icon">
          <i class="fa-solid text-xl sm:text-2xl dark:text-white hover:text-indigo-600 focus:text-indigo-600 dark:hover:text-indigo-600 dark:focus:text-indigo-600" aria-hidden="true" id="darkmodeicon"></i>
          <span class="sr-only">Toggle dark/light mode</span>
        </a>
      </section>
      {% block content %}{% endblock %}
    </main>
    <footer class="w-full text-indigo-400 py-2 text-[16px]">
      {% block footer %}
      Iva Fischerová &copy; 2022
      {% endblock %}
    </footer>
  </div>
</body>

</html>