{% extends 'base.html' %}

{% block content %}
<div class="w-full text-left md:px-4 sticky top-2">
    <a class="cursor-pointer" href="#" onclick="window.history.back();">
        <i class="fa-solid fa-circle-arrow-left text-2xl text-indigo-600 hover:text-black focus:text-black dark:hover:text-white dark:focus:text-white"></i>
        <span class="sr-only">Vrátit se na hlavní stránku</span>
    </a>
</div>
<section class="flex grow flex-col justify-center items-center">
    <h1 class="text-indigo-600 text-center font-extrabold text-sm md:text-3xl my-5 uppercase w-4/5">Informovaný
        souhlas
    </h1>
    <h2 class="text-indigo-600 text-center font-bold text-xs md:text-xl mb-5 uppercase w-4/5">Souhlas se zpracováním
        osobních
        údajů
    </h2>
    <ol class="dark:text-slate-200 text-[16px] leading-3 md:text-xs list-decimal text-left w-4/5">
        <li class="mb-3">
            <p class="pl-2 mb-1">Potvrzením a&nbsp;odesláním údajů uvedeného formuláře udělujete souhlas</p>
            <p class="pl-2 mb-1"><span class="font-bold">Mgr. et Mgr. Ivě Fischerové, se sídlem
                    Hurbanova&nbsp;1305/11, PSČ&nbsp;142&nbsp;00, IČ:&nbsp;17518661</span>,
                (dále jen <span class="font-bold">„Správce“</span>), aby ve smyslu Nařízení Evropského
                parlamentu a&nbsp;rady (EU) 2016/679 - GDPR
                (dále jen <span class="font-bold">„Nařízení“</span>) a&nbsp;Zákona č. 101/2000 Sb.,
                o&nbsp;ochraně osobních údajů (dále jen „zákon o&nbsp;
                ochraně osobních údajů“) zpracovávala tyto osobní údaje</p>
            <p class="pl-6 mb-1">- emailová adresa. </p>
        </li>
        <li class="mb-3">
            <p class="pl-2 mb-1">Výše uvedené osobní údaje bude Správce zpracovávat za účelem</p>
            <p class="pl-6 mb-1">- zasílání článků z webové stránky Mateřské školy Viničná 1, Praha 2,
                k&nbsp;jejichž odběru jste se
                přihlásil/a.</p>
        </li>
        <li class="mb-3">
            <p class="pl-2 mb-1"><span class="font-bold">Uvedeným zpracováním udělujete svůj výslovný
                    souhlas.</span> Souhlas můžete vzít kdykoliv zpět a&nbsp;to</p>
            <p class="pl-6 mb-1">- elektronicky - prostřednictvím linku, který je součástí každého emailu se
                zaslaným článkem,</p>
            <p class="pl-6 mb-1">- elektronicky - zasláním kopie odvolání souhlasu na emailovou adresu <span
                    class="font-bold">me@ifischerova.cz</span>,</p>
            <p class="pl-6 mb-1">- dopisem zaslaným na adresu provozovny Správce <span class="font-bold">
                    Hurbanova&nbsp;1305/11, 142&nbsp;00, Praha&nbsp;4&nbsp;-&nbsp;Krč</span> s&nbsp;označením
                obálky jako Ochrana OU.</p>
        </li>
        <li class="mb-3">
            <p class="pl-2">
                Nutnou podmínkou pro přijetí příslušných kroků na straně Správce je možnost identifikace vaší
                osoby. V případě doručení kopie odvolání souhlasu prostřednictvím emailové komunikace nebo
                doručením v&nbsp;papírové podobě poštou bude Správce považovat odvolání souhlasu za platné pouze
                v&nbsp;případech, kdy je zjevné, že byl podpis na dokumentu opatřen ověřovací doložkou.
            </p>
        </li>
        <li class="mb-3">
            <p class="pl-2">
                Uvedené údaje budou Správcem zpracovány a&nbsp;uchovány po dobu 2&nbsp;let od data poskytnutí
                údajů
                zájemcem prostřednictvím formulářového záznamu na internetových stránkách Správce. Právním
                titulem pro zpracování a&nbsp;uchování uvedených osobních údajů je tento výslovně udělený
                souhlas.
                Po uplynutí výše uvedené lhůty, budou uvedené osobní údaje smazány a odstraněny ze systémů
                i&nbsp;z&nbsp;databáze.
            </p>
        </li>
        <li class="mb-3">
            <p class="pl-2">
                Zpracování osobních údajů je prováděno Správcem.
            </p>
        </li>
        <li class="mb-3">
            <p class="pl-2">Vezměte na vědomí, že podle Nařízení a&nbsp;Zákona o ochraně osobních údajů máte
                právo:</p>
            <p class="pl-6">- vzít souhlas kdykoliv zpět,</p>
            <p class="pl-6">- požadovat po Správci informaci, jaké vaše osobní údaje zpracovává,</p>
            <p class="pl-6">- požadovat po Správci vysvětlení ohledně zpracování osobních údajů,</p>
            <p class="pl-6">- vyžádat si u&nbsp;Správce přístup k&nbsp;těmto údajům a&nbsp;tyto nechat
                aktualizovat nebo opravit,</p>
            <p class="pl-6">- požadovat po Správci výmaz těchto osobních údajů,</p>
            <p class="pl-6">- požadovat omezení zpracování nebo vznést námitku proti zpracování osobních údajů,
            </p>
            <p class="pl-6">- v případě pochybností o&nbsp;dodržování povinností souvisejících se zpracováním
                osobních
                údajů obrátit se na Správce nebo na Úřad pro ochranu osobních údajů.</p>
        </li>
    </ol>
</section>
{% endblock %}