<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} 
<body>
  {% block content %}
  <main>
    <section class="text-container is-responsive">
      <h1>{% block title %} Info ze školky do mailu {% endblock %}</h1>

      <p>Pro všechny, které nebaví pořád kontrolovat web školky.</p>
    </section>
    <section class="form-container">
      <div class="form">
        <form method="post" id="form" action="/">

          <div>
            <i class="far fa-envelope"></i>
            <input class="input" type="email" name="input_email" id="email" placeholder="Email Address" value="{{ email_address }}"/>

            <i> <img src="{{ 'images/icon-error.svg' }}" class="failure-icon" alt="" aria-hidden="true"></i>
            <i class="far fa-check-circle success-icon"></i>

            <div class="error">
            </div>
          </div>
          {{ recaptcha }}
          <button class="submit-form-button" formnovalidate id="btn" type="submit">POSÍLEJTE MI ČLÁNKY</button>
            <p class="terms">
              Odesláním souhlasím, že jsem si přečetl/a <a href="{{ url_for('show_gdpr_page') }}"
                target="_blank"><span>Informovaný souhlas</span></a> a souhlasím s ním.
            </p>
        </form> 
      </div>  
    </section>
  </main>
  {% endblock %}
</body>
</html>